# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**

* Using Jupyter Notebook
* Popular language
* Open Source tools

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

##### Some of the commonly used libraries used by Data Scientists include:
1. Dplyr
2. Stringr
3. PyTorch
4. Pandas

| Data Science Tools |
 --------------------
| Jupyter |
| RStudio |
| Apache |

### Below are a few examples of evaluating arithmetic expressions in Python

1. 3*4
2. 3+4
3. 3/4
4. 3-4

#### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60.

In [3]:
200/60

3.3333333333333335

## Author
Ankur Mishra